h1 {
    color:aqua;
}

ul {
    background-color: greenyellow;
}

.container {
    background-color: black;
    color: yellow;
}

p {
    background-color: rgb(41, 13, 73);
    color: chartreuse;
}

b{
    font-size: 20px;
}
